<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% extends "tailor/index.html" %}
{% block body %}
<form action="/change_passwordd_post" onsubmit="return validate()" method="post" enctype="multipart/form-data" name="form1" id="form1">
 <table class="table table-bordered" style="width: 500px;" align="center">
    <tr>
      <th>Current Password</th>
      <td><input type="password" class="form-control" name="textfield" id="textfield"required /></td>
    </tr>
    <tr>
      <th>New Password</th>
      <td><input type="password" class="form-control" name="textfield2" id="textfield2" required/></td>
    </tr>
    <tr>
      <th>Confirm Password</th>
      <td><input type="password" class="form-control" name="textfield3" id="textfield3" required/></td>
    </tr>
    <tr>
      <td colspan="2"align="center"><input type="submit" class="btn btn-success" name="button" id="button" value="SUBMIT" /></td>
    </tr>
  </table>

<script>
    function validate() {
        var npsw=document.getElementById("textfield2").value;
        var cpsw=document.getElementById("textfield3").value;
        if(npsw==cpsw){
            return true;
        }
        else{
            alert("Passwords must be same..");
            return false;
        }
    }
</script>
</form>

{% endblock %}
